@page "{id?}"

@model WebAppiFilm.Pages.SelectedFilmModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h2>@Model.Name</h2>
    <p>@Model.Producer</p>
    <p>@Model.Style</p>
    <p>@Model.AboutFilm</p>
    <p>@Model.Sessions</p>
</div>
